.container
    * 
        margin 0
        padding 0
    img 
        width 100%
    font-family: 'Lato'
    max-width: 1200px
    margin: 0 auto
    span.bold
        font-weight: bold
    .title-line, .subtitle, .regular-text, div.half-half, .important-thing
        padding 0 30px
        margin-bottom 24px
        line-height 2
    div.hero
        position relative
        .logo
            position absolute
            top 10%
            left 5%
        .green-text
            padding 20px 0 20px 40px
            background-color #003826
            color #ffffff
            right 0px
            width 70%
            position absolute
            font-size 55px
            bottom 10%
    div.title-line
        font-size 25px
        margin 32px 0
        position relative
        &::before
            display block
            content ''
            height 100%
            width 5px
            background-color #003826
            position absolute
            left 15px
    h3.subtitle
        font-size 16px
        margin-bottom 5px
    p.regular-text
        font-size 16px
    div.half-half
        margin-bottom 0
        display flex
        &>*
            font-size 16px
            line-height 2
            width 44%
        .right-half
            font-size 0
            margin-left 12%
    .green-banner
        padding 20px 40px
        background-color #003826
        color #fff
        font-size: 32px
        text-align center
        line-height 1.4
        margin-bottom 32px
    .important-thing
        display flex
        .text-container
            flex 1
            padding 20px 20px 0
            .text-title
                font-weight 500
                font-size 25px
                margin-bottom 10px
            .content
                line-height 1.5
                margin-bottom 24px
            .half-half
                position relative
                padding: 0
                margin-bottom 24px
                &.border
                    padding-left 30px
                    .left
                        font-size 20px 
                        padding-right 10%
                &.border::before
                    content ''
                    position absolute
                    left 0px
                    display block
                    height 100%
                    width 10px
                    background-color #febf30
                .left
                    .content
                        font-size 16px
                .right
                    margin-left 8%
                    width 48%
    .chart-container
        background-color #e3e3e3
        padding 20px 30px
        .title
            display flex
            align-items center 
            justify-content center
            font-size 25px
            .icon
                width 50px
                margin-right 20px
        .chart
            margin 40px auto 0px
            width 70%


@media screen and (max-width 1000px){
    .container .title-line, .container .subtitle, .container .regular-text, .container div.half-half, .container .important-thing{
        margin-bottom 12px
    }
    .container div.hero .green-text {
        font-size 20px
    }
    .container div.title-line {
        margin 12px auto 
        font-size 18px
    }
    .container h3.subtitle {
        font-size 14px
    }
    .container p.regular-text {
        font-size 12px
    }
    .container div.half-half>* {
        font-size 12px
    }
    .container div.half-half>.left-half {
        width 50%
    }
    .container div.half-half>.right-half{
        margin-left 4%
    }
    .container .green-banner {
        font-size 24px
        margin-bottom 12px
    }
    .container .important-thing .text-container .text-title {
        font-size 14px
        line-height 1.5
    }
    .container .important-thing .text-container .content {
        margin-bottom 12px
        font-size 12px
    }
    .container .important-thing .text-container .half-half.border .left {
        font-size 14px
    }
    .container .important-thing .text-container .half-half .left .content {
        font-size 12px;
    }
    .container .chart-container .title {
        font-size 16px;
    }
    .container .chart-container .chart {
        margin 10px auto 0
    }
}

@media screen and (max-width: 560px) {
    .container div.hero .logo  {
        width: 35%
    }
    .container div.hero .green-text {
        font-size 16px
        padding 10px 0 10px 40px
    }
    .container div.title-line {
        font-size 14px
    }
    .container h3.subtitle {
        font-size 14px
    }
    .container p.regular-text {
        font-size 12px
    }
    .container div.half-half {
        flex-wrap wrap
    }
    .container div.half-half>* {
        width 100%
    }
    .container div.half-half>.left-half {
        width 100%
        font-size 12px
        margin-bottom 10px
    }
    .container div.half-half>.right-half {
        margin-left 0
    }
    .container .green-banner {
        font-size 16px
    }
    .container .important-thing {
        flex-direction column
        justify-content center
        align-items center
    }
    .number {
        width 20%
    }
    .container .important-thing .text-container {
        padding 0
    }
    .container .important-thing .text-container .half-half.border {
        padding-left 0
        &::before {
            display none
        }   
    }
    .container .important-thing .text-container .half-half.border .left {
        padding-right 0
        padding-left 30px
        position relative
        margin-bottom 10px
        &::before {
            display block
            content ''
            position absolute
            top 0px
            left 0px
            height 100%
            width 5px
            background-color #febf30
        }
    }
    .container .important-thing .text-container .half-half .right {
        width 100%
        margin-left 0
    }
    .container .important-thing .text-container .half-half {
        margin-bottom 10px;
    }
    .container .title-line, .container .subtitle, .container .regular-text, .container div.half-half, .container .important-thing {
        padding 0 20px
    }
    .container .chart-container {
        padding 20px
    }
    .container .chart-container .title .icon {
        margin-right 10px
    }
    .container .chart-container p {
        font-size 15px
    }
    .container .chart-container .chart {
        margin-top 20px
        width 85%
    }
    .container div.title-line::before {
        left 8px
    }
}