/* This is for reset purpose */
.content-container * {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: poppins;
}

img {
    width: 100%;
}

.show-on-mobile {
    display: none;
}

/* margins */

*.margin20 {
    margin-bottom: 20px;
}

*.margin30 {
    margin-bottom: 30px;
}

/* paddings */
.left-padding {
    padding-left: 20px
}

/* padding left for few items */
.reason-title,
.header-title,
.profile-title,
.excerpt,
.regular-image,
.regular-content {
    line-height: 1.5;
    padding-left: 20px;
}


.stock-chart {
    padding: 20px;
    margin-bottom: 15px;
}

/* All font size, color, style goes here */

/* title for header */
.header-title {
    font-size: 35px;
}

h2.profile-title {
    font-size: 38px;
    font-weight: 600;
}

p.regular-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #707070;
}

p.referrece {
    color: #666;
    font-size: 12px;
    font-style: italic;
}

.excerpt,
.emphasize {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;
}

.key-data-text {
    font-size: 24px;
    color: white;
    margin-left: 20px;
    line-height: 36px;
}

.detail-title,
.detail-text {
    font-size: 20px;
    line-height: 1.5;
}

.detail-title {
    font-weight: bold;
}

.detail-comments {
    margin-top: -20px;
    font-size: 14px;
    padding-left: 120px;
}

.click-below {
    font-size: 28px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5;
}

.content-container {
    margin: 0 auto;
    max-width: 1200px;
}

.main-content-area {
    display: flex;
    justify-content: space-between;
}

.main-content {
    width: 632px;
}

.side-content {
    background-color: #e5e5e5;
}

/* Title Header */
.title-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title-header>.image-wrapper {
    width: 300px;
}

/* hero image */
.hero-image {
    margin: 30px auto 40px;
}

.regular-image {
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.regular-image:nth-of-type(1)>img {
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #aaa;
}

.reasons-title {
    margin: 30px 0 50px;
    position: relative;
    background-color: #062945;
    display: flex;
}

.reasons-title>.image-wrapper {
    background-color: #fff;
}

.right-arrow {
    width: 20%;
    position: absolute;
    top: calc(100% - .1px);
    right: 0;
}

.reasons-title-text {
    width: calc(100% - 150px);
    padding: 10px 40px;
    color: #fff;
    font-size: 34px;
    line-height: 1.3;
    box-sizing: border-box;
    font-weight: bold;
}

.reasons-title-text>span {
    color: #4DB348;
}

.reason-title {
    margin: 20px 0;
    position: relative;
}

.reason-title>img {
    position: relative;
    z-index: 1;
}

.reason-title>h3 {
    font-size: 32px;
    font-weight: bold;
    color: #062945;
    position: absolute;
    right: 0;
    bottom: 15px;
    line-height: 1.2;
    width: 79%;
}

.reason-title>h3>span {
    color: #4DB348;
}

div.excerpt {
    color: #062945;
}

.emphasize {
    margin-left: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    border-left: 9px solid #062945;
}

.video-container {
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    padding-left: 20px;
}

.video {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.youtube-embed {
    position: absolute;
    height: 100%;
    ;
    width: 100%;
    top: 0;
    z-index: 1;
}

.half-text {
    display: flex;
    justify-content: space-between;
}

.half-text>* {
    width: 48%;
}

.half-text>.image-wrapper {
    margin-left: 20px;
}

.highlights {
    margin-bottom: 10px;
}

.side-content {
    width: 500px;
    margin-left: 20px;
}

.key-data {
    width: 100%;
    display: flex;
    background-color: #062945;
    border-right: 9px solid #666;
    box-sizing: border-box;
    padding: 20px;
}

.key-data>.image-wrapper {
    width: 40px;
}

.detail {
    display: flex;
    padding: 20px;
}

.detail>.image-wrapper {
    width: 45px;
    margin-right: 10px;
    padding: 5px 20px 5px 0;
    border-right: 8px solid #062945;
}

.detail>.text-wrapper {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.click-below>span {
    color: #4DB348;
    display: block;
}

.click-below {
    box-shadow: 0 -8px 0 0 #062945;
    position: relative;
    text-align: center;
    background-color: #062945;
    padding: 10px 20px;
    border-top: 8px solid #4DB348;
    border-bottom: 8px solid #4DB348;
    margin-top: 40px;
}

.click-below>.image-wrapper {
    position: absolute;
    top: 0;
    left: 10%;
    width: 12%;
}

.buttons {
    padding-bottom: 30px;
    background-color: #062945;
}

.buttons>.image-wrapper {
    margin: auto;
    margin-bottom: -20px;
    width: 80%;
    display: block;
}

.blue-border {}

@media screen and (max-width:1156px) {
    .header-title {
        font-size: 32px;
    }

    h2.profile-title {
        font-size: 36px;
    }

    p.regular-content {
        font-size: 14px;
    }

    p.referrece {
        font-size: 10px;
    }

    .excerpt,
    .emphasize {
        font-size: 14px;
    }

    .key-data-text {
        font-size: 22px;
        line-height: 36px;
    }

    .detail-title,
    .detail-text {
        font-size: 18px;
    }

    .detail-comments {
        font-size: 12px;
    }

    .click-below {
        font-size: 26px;
    }

    .reasons-title-text {
        font-size: 26px;
        padding: 10px;
    }

    .reasons-title>.image-wrapper {
        width: 130px;
    }
}

@media screen and (max-width:769px) {
    .reason-title>h3 {
        font-size: 21px;
        bottom: 5px;
    }

    .detail-title,
    .detail-text {
        font-size: 16px;
    }

    .detail>.text-wrapper {
        padding: 0;
    }

    .detail {
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .main-content {
        width: 100%;
    }

    .side-content {
        width: 100%;
    }

    .main-content-area {
        flex-wrap: wrap;
    }

    .reason-title,
    .header-title,
    .profile-title,
    .excerpt,
    .regular-image,
    .regular-content {
        line-height: 1.5;
        padding-left: 0;
    }
    body {
        margin: 0;
    }

    .title-header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-title {
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .title-header>.image-wrapper {
        width: 200px;
    }
    .hero-image {
        margin: 8px auto;
    }
    .main-content > * {
        padding: 0 10px;
    }
    h2.profile-title {
        font-size: 24px;
        line-height: 1.4;
        padding: 0 10px 0 10px;
        margin-bottom: 10px;
    }
    p.regular-content {
        margin-bottom: 15px;
    }
    .regular-image {
        margin-bottom: 15px;
    }
    .reasons-title {
        margin: 10px 0;
    }
    .reasons-title>.image-wrapper {
        display: none;
    }
    .reasons-title-text {
        width: 100%;
    }
    .show-on-mobile {
        display: inline;
        font-weight: bolder;
    }
    .right-arrow {
        display: none;
    }
    .reasons-title-text {
        font-size: 20px;
    }
    .reason-title>h3 {
        font-size: 18px;
        bottom: 14px;
    }
    .emphasize {
        margin: 0 10px;
    }
    .excerpt, .emphasize {
        margin-bottom: 15px;
    }
    .video-container {
        box-sizing: border-box;
        padding: 0;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 15px;
    }
    .youtube-embed {
        height: 98%;
    }
    .reason-title {
        margin: 15px 0;
    }
    .half-text {
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .half-text > * {
        width: 100%;
    }
    .half-text > .image-wrapper {
        margin-left: 0;
    }
    .side-content {
        margin-left: 0;
    }
    .detail-comments {
        margin-top: -10px;
    }
}